{% extends 'base.html.twig' %}

{% block body %}
    {% include 'navbar.html.twig' %}

    <div id="header" class="uk-cover-background" style="background: url('/assets/img/headers/arbeitsbereiche.jpg');"></div>

    <ul class="uk-breadcrumb uk-text-center uk-text-muted">
        <li><a href="{{ path('homepage') }}"><i class="uk-icon-home"></i></a></li>
        <li class="uk-active"><span>Arbeitsbereiche</span></li>
    </ul>

    <div class="uk-container uk-container-center uk-margin-large-top">
        <h1 class="uk-text-center">Arbeitsbereiche auf Hof Pente</h1>
        <div class="uk-grid uk-grid-small uk-margin-large-top" data-uk-grid-margin>
            <div class="uk-width-large-1-4 uk-width-medium-1-3">
                <div class="uk-panel uk-panel-box">
                    <div class="uk-panel-teaser">
                        <img src="{{ asset('assets/img/arbeitsbereiche.jpg') }}" alt="">
                    </div>
                    <h3 class="uk-panel-title">Arbeitsbereiche</h3>
                    Der Erhalt der Vielfalt ist uns besonders wichtig. Dementsprechend vielfältig sind auch unsere
                    Arbeitsbereiche.
                    <a href="" class="uk-button uk-button-success uk-width-1-1 uk-margin-top">
                        weiter lesen
                        <i class="uk-icon-angle-double-right"></i>
                    </a>
                </div>
            </div>
            <div class="uk-width-large-1-4 uk-width-medium-1-3">
                <div class="uk-panel uk-panel-box">
                    <div class="uk-panel-teaser">
                        <img src="{{ asset('assets/img/geschichte.jpg') }}" alt="">
                    </div>
                    <h3 class="uk-panel-title">Geschichte &amp;  Betriebsspiegel</h3>
                    Die Geschichte des Hofes geht auf eine lange Generationenreihe zurück. Ein eingemauerter Balken trägt
                    die Jahreszahl 1565.
                    <a href="" class="uk-button uk-button-success uk-width-1-1 uk-margin-top">
                        weiter lesen
                        <i class="uk-icon-angle-double-right"></i>
                    </a>
                </div>
            </div>
            <div class="uk-width-large-1-4 uk-width-medium-1-3">
                <div class="uk-panel uk-panel-box">
                    <div class="uk-panel-teaser">
                        <img src="{{ asset('assets/img/biodynamischie-landwirtschaft.jpg') }}" alt="">
                    </div>
                    <h3 class="uk-panel-title">Biodynamisch &amp; Solidarisch</h3>
                    Die zentrale Idee ist, dass der Hof als ein Organismus betrachtet wird, in den wir nun auch die
                    Verbraucher mit einbeziehen.
                    <a href="" class="uk-button uk-button-success uk-width-1-1 uk-margin-top">
                        weiter lesen
                        <i class="uk-icon-angle-double-right"></i>
                    </a>
                </div>
            </div>
            <div class="uk-width-large-1-4 uk-width-medium-1-3">
                <div class="uk-panel uk-panel-box">
                    <div class="uk-panel-teaser">
                        <img src="{{ asset('assets/img/menschen.jpg') }}" alt="">
                    </div>
                    <h3 class="uk-panel-title">Menschen vom Hof</h3>
                    Auf dem Hof leben 20 Menschen. An unserem Gemeinschaftsprojekt sind aber natürlich weitaus mehr Menschen beteiligt.
                    <a href="" class="uk-button uk-button-success uk-width-1-1 uk-margin-top">
                        weiter lesen
                        <i class="uk-icon-angle-double-right"></i>
                    </a>
                </div>
            </div>
            <div class="uk-width-large-1-4 uk-width-medium-1-3">
                <div class="uk-panel uk-panel-box">
                    <div class="uk-panel-teaser">
                        <img src="{{ asset('assets/img/menschen.jpg') }}" alt="">
                    </div>
                    <h3 class="uk-panel-title">Menschen vom Hof</h3>
                    Auf dem Hof leben 20 Menschen. An unserem Gemeinschaftsprojekt sind aber natürlich weitaus mehr Menschen beteiligt.
                    <a href="" class="uk-button uk-button-success uk-width-1-1 uk-margin-top">
                        weiter lesen
                        <i class="uk-icon-angle-double-right"></i>
                    </a>
                </div>
            </div>
            <div class="uk-width-large-1-4 uk-width-medium-1-3">
                <div class="uk-panel uk-panel-box">
                    <div class="uk-panel-teaser">
                        <img src="{{ asset('assets/img/biodynamischie-landwirtschaft.jpg') }}" alt="">
                    </div>
                    <h3 class="uk-panel-title">Biodynamisch &amp; Solidarisch</h3>
                    Die zentrale Idee ist, dass der Hof als ein Organismus betrachtet wird, in den wir nun auch die
                    Verbraucher mit einbeziehen.
                    <a href="" class="uk-button uk-button-success uk-width-1-1 uk-margin-top">
                        weiter lesen
                        <i class="uk-icon-angle-double-right"></i>
                    </a>
                </div>
            </div>
            <div class="uk-width-large-1-4 uk-width-medium-1-3">
                <div class="uk-panel uk-panel-box">
                    <div class="uk-panel-teaser">
                        <img src="{{ asset('assets/img/geschichte.jpg') }}" alt="">
                    </div>
                    <h3 class="uk-panel-title">Geschichte &amp;  Betriebsspiegel</h3>
                    Die Geschichte des Hofes geht auf eine lange Generationenreihe zurück. Ein eingemauerter Balken trägt
                    die Jahreszahl 1565.
                    <a href="" class="uk-button uk-button-success uk-width-1-1 uk-margin-top">
                        weiter lesen
                        <i class="uk-icon-angle-double-right"></i>
                    </a>
                </div>
            </div>
            <div class="uk-width-large-1-4 uk-width-medium-1-3">
                <div class="uk-panel uk-panel-box">
                    <div class="uk-panel-teaser">
                        <img src="{{ asset('assets/img/arbeitsbereiche.jpg') }}" alt="">
                    </div>
                    <h3 class="uk-panel-title">Arbeitsbereiche</h3>
                    Der Erhalt der Vielfalt ist uns besonders wichtig. Dementsprechend vielfältig sind auch unsere
                    Arbeitsbereiche.
                    <a href="" class="uk-button uk-button-success uk-width-1-1 uk-margin-top">
                        weiter lesen
                        <i class="uk-icon-angle-double-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <nav id="footer" class="uk-navbar uk-margin-large-top">
        <div class="uk-navbar-content uk-text-small uk-text-muted">&copy; 2017 CSA Hof Pente GbR</div>
        <ul class="uk-navbar-nav uk-navbar-flip">
            <li>
                <a href="">
                    Impressum
                </a>
            </li>
            <li>
                <a href="">
                    Datenschutz
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    'assets/vendor/uikit/css/uikit.min.css'
    'assets/vendor/uikit/css/components/sticky.min.css'
    'assets/vendor/uikit/css/components/slider.min.css'
    'assets/vendor/uikit/css/components/slidenav.min.css'
    'assets/vendor/uikit/css/components/tooltip.min.css'
    'assets/css/index.css'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    'assets/vendor/jquery/dist/jquery.min.js'
    'assets/vendor/uikit/js/uikit.min.js'
    'assets/vendor/uikit/js/components/sticky.min.js'
    'assets/vendor/uikit/js/components/parallax.min.js'
    'assets/vendor/uikit/js/components/slider.min.js'
    'assets/vendor/uikit/js/components/tooltip.min.js'
    'assets/vendor/vide/dist/jquery.vide.min.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        $(function () {
            $('#vide-toggle').click(function () {
                var video = $('#header').data('vide').getVideoObject();
                if (video.paused) {
                    video.play();
                    $(this).html('<i class="uk-icon-pause"></i>');
                } else {
                    video.pause();
                    $(this).html('<i class="uk-icon-play"></i>');
                }
            });

            $('#vide-mute').click(function () {
                var video = $('#header').data('vide').getVideoObject();
                if (video.volume == 1) {
                    video.volume = 0;
                    $(this).html('<i class="uk-icon-volume-off"></i>');
                } else {
                    video.volume = 1;
                    $(this).html('<i class="uk-icon-volume-up"></i>');
                }
            });
        });
    </script>
{% endblock %}
