{% extends 'base.html.twig' %}

{% block body %}
    {% include 'homepage/navbar.html.twig' %}

    <div id="header" class="uk-cover-background small" style="background-image: url('/assets/img/headers/arbeitsbereiche.jpg');"></div>

    <ul class="uk-breadcrumb uk-text-center uk-text-muted" data-uk-sticky="{top:50}">
        <li><a href="{{ path('homepage') }}"><i class="uk-icon-home"></i></a></li>
        <li class="uk-active"><span>Arbeitsbereiche</span></li>
    </ul>

    <div class="uk-container uk-container-center uk-margin-large-top">
        <h1 class="uk-text-center">Arbeitsbereiche auf Hof Pente</h1>

        {% include 'homepage/subnav.html.twig' %}

        <h2 class="uk-margin-large-top">Gärtnerei</h2>
        <div class="uk-clearfix uk-column-medium-1-2 uk-column-large-1-3">
            <img src="{{ asset('assets/img/teasers/geartnerei.jpg') }}" alt="" class="uk-align-medium-left"/>
            <p>Wir haben drei Folientunnel (2 x 255 qm & 1 x 500 qm), dazu kommen knapp  4 ha Freilandgemüse. In diesem Jahr werden insgesamt mehr als 60 Gemüsesorten angebaut. Den Großteil unseres Saatguts beziehen wir von Bingenheim. Viele Jungpflanzen beziehen wir von der Gemüsegärtnerei Kalkriese.</p>
            <h3>Fruchtfolge im Gemüsebau</h3>
            <ol>
                <li>Kleegras</li>
                <li>Kleegras</li>
                <li>Winter/Herbskohl – Wickroggen auf Herbstkohl</li>
                <li>Kürbis, Zucchini, Frühkartoffel – überwinternde Gründüngung/abfrierende Gründüngung</li>
                <li>Möhre, Pastinake, Petersilienwurzel, Rote-Bete, Mangold</li>
                <li>Ackerbohne – Wintergetreide</li>
                <li>Wintergetreide – Landsbergergemenge</li>
                <li>Langsbergergemenge</li>
                <li>Sommerkohl – überwinternde Gründüngung</li>
                <li>Porree, Mais, Sellerie – abfrierende Gründüngung</li>
                <li>Salat, Kräuter, Fenchel, Wintersalate – abfrierende Gründüngung</li>
                <li>Getreide (Roggen)</li>
            </ol>
            <p>1, 2, 6, 8 – Leguminose; 3, 9 – stark zehrend; 4, 7, 10 – mittel zehrend; 5, 11, 12 –schwach zehrend</p>
        </div>

        <h2>Ackerbau</h2>
        <div class="uk-clearfix uk-column-medium-1-2 uk-column-large-1-3">
            <img src="{{ asset('assets/img/teasers/ackerbau.jpg') }}" alt="" class="uk-align-medium-left"/>
            <p>Ein Schwerpunkt des Betriebes war bisher der Ackerbau. Die derzeitige Fläche beträgt ca. 30 ha. Zu den Hauptfrüchten zählen vor allem Roggen Lichtkornroggen, Dinkel, Weizen, Buchweizen und Kleegras.</p>
            <p>In der Saison 2011/2012 haben wir:</p>
            <ul>
                <li>Lichtkornroggen –  eine biologisch dynamisch gezüchtete Sorte, mit sehr guter Lebensmittelqualität</li>
                <li>viele unterschiedliche Kartoffeln</li>
                <li>Hokkaido Kürbis</li>
                <li>Ackerbohnen – mit den trockenen, geschroteten Bohnen düngen wir im Gartenbau (Stickstoffdünger)</li>
                <li>Mais für die Hühner und Schweine</li>
                <li>Senf und Buchweizen als Zwischenfrucht</li>
                <li>Kleegras – zur Bodenregeneration und als Futter für die Rinder und Schafe</li>
            </ul>
            <p>In der Saison 2010/2011 haben wir folgendes Brotgetreide angebaut:</p>
            <ul>
                <li>Dippes Bordeaux, eine alte, ehemals aus Frankreich stammende Landweizensorte</li>
                <li>Waldstaudenroggen ist eine alte Roggenart, sie ist sehr mineralricht und verleihen dem Gebäcken eine angenehme Krumenfarbe und einen kräftigen, leicht süßlichen Geschmack.</li>
                <li>Frankenkorn Dinkel</li>
            </ul>
            <h3>Dammkultur</h3>
            <p>Zur Acker- und Gartenarbeit setzen wir verstärkt auf das alte/neue Anbauverfahren Dammkultur. Sie hat verschiedene Vorteile, die wir in der nächsten Ausgabe näher beschreiben wollen. Langfristig ist die Erhlatung- und die Entwicklung der Bodenfruchtbarkeit eins der wichtigsten Themen. Dabei kommt dem Boden auch in der Klimadebatte ein hoher Stellenwert zu.</p>
            <p>Die Dammkultur entstand schon vor Jahrtausenden im fruchtbaren Halbmond zwischen Euphrat und Tigris, dem Garten Eden der Landwirtschaftsentstehung. Der Vorteil ist dabei, dass der Boden nicht voll gewendet wird. Beim vollständigen Wenden des Bodens durch den Pflug werden die Horizonte vollständig durcheinander gebracht und dabei erheblich gestört. Man muss sich vorstellen, dass in einer Hand voll Boden mehr Lebewesen vorhanden sind als die Erde Menschen trägt! Durch die Dammkultur entsteht auch ein anderes Mikroklima. Der Boden wird bei Starkregen nicht verschleppt. Die Dämme erwärmen sich schneller. Die Kapillarwirkung, die in Trockenzeiten das Wasser aus dem Untergrund aufsteigen lässt, verbessert sich. Die Wurzeln bilden eine größere Masse und können mehr Kohlenstoff binden. Das ist auch für die Stabilisierung des Klimas wichtig.</p>
        </div>

        <h2>Landtechnik</h2>
        <div class="uk-clearfix uk-column-medium-1-2 uk-column-large-1-3">
            <img src="{{ asset('assets/img/teasers/landtechnik.jpg') }}" alt="" class="uk-align-medium-left"/>
            <p>Die Landtechnik führt heute einerseits zu Arbeitserleichterung andererseits aber auch zur Vergrößerung der Abhängigkeit. Uns interessiert vor allem die Entwicklung und die Reperatur von Agrartechnik für kleinere und vielfältige Betriebe. Zu den Arbeitsschwerpunkten zählen:</p>
            <ul>
                <li>Schweißerkurse im Rahmen der Freien Ausbildung für biologisch-dynamische Landwirtschaft</li>
                <li>Die Entwicklung einer phneumatischen Dammkultur Sämaschine</li>
                <li>Die Mechatronik für Zugpferde hat sich in den letzten Jahren sehr weiterentwickelt und interessiert uns sehr.</li>
                <li>Ältere, technisch ausgereifte Traktoren und Maschinen</li>
                <li>Diese Maschinen lassen sich weitgehend selbst reparieren. Alte ausrangierte Maschinen bieten eine Fundgrube für Ersatzteile.</li>
                <li>Für jede Fruchtart und jedes Arbeitsverfahren steht die passende, treibstoffsparende Version zur Verfügung.</li>
                <li>Das erspart Umrüstzeiten, vermeidet überhöhten Bodendruck und gestaltet den Einsatz flexibel.</li>
                <li>Diese Einsatzweise erleichtert die eigene Weiterentwicklung der Maschinen hinsichtlich ökologischer Anbauformen wie der Dammkultur.</li>
                <li>Die lange Nutzungsdauer von Maschinen ist ökologisch sinnvoll.</li>
            </ul>
        </div>

        <h2>Biotoppflege</h2>
        <div class="uk-clearfix uk-column-medium-1-2 uk-column-large-1-3">
            <img src="{{ asset('assets/img/teasers/biotoppflege.jpg') }}" alt="" class="uk-align-medium-left"/>
            <p>Im Laufe der Jahre haben wir mehr als 800 m Hecken aus einheimischen Gehölzen angelegt, die zahlreichen Insekten und Vögeln eine Heimat bieten.</p>
            <p>Zwei Alleen aus Linden, Ahorn und Kastanien sorgen für ein frisches  und schattiges Klima auf den Zufahrtswegen.</p>
            <p>Zwei Feuchtbiotope wurden angelegt. Eines an einem Fließgewässer und ein weiteres an den 7 Quellen des Hofes.</p>
            <p>Zusätzlich sind in den letzten Jahren etwa 40.000 m² Wald-, Busch- und Bachlandschaft als Ausgleichsmaßnahme für den Straßenbau angelegt worden.</p>
        </div>

        <h2>Waldwirtschaft</h2>
        <div class="uk-clearfix uk-column-medium-1-2 uk-column-large-1-3">
            <img src="{{ asset('assets/img/teasers/waldwirtschaft.jpg') }}" alt="" class="uk-align-medium-left"/>
            Zu dem Hof gehören 10 ha Wald, dessen Rest- und Schwachholz für die Heizung des Hofes genutzt wird.
        </div>

        <h2>Erneuerbare Energien</h2>
        <div class="uk-clearfix uk-column-medium-1-2 uk-column-large-1-3">
            <img src="{{ asset('assets/img/teasers/erneuerbare-energien.jpg') }}" alt="" class="uk-align-medium-left"/>
            <p>In wenigen Jahren verbraucht die industrielle Landwirtschaft in Form von Kohle, Öl und Gas das, was die Sonne uns im Laufe von Millionen Jahren geschenkt hat.</p>
            <p>Bei der Atomenergie fallen nach einer kurzen Nutzungsdauer extrem giftige radioaktive Stoffe an, welche die Natur über Millionen Jahren schädigen können.</p>
            <p>Aus diesem Grund haben wir uns schon seit Jahren nicht nur Gedanken gemacht, sondern früh begonnen. eine eigene Energieerzeugung zu entwickeln.</p>
            <p>Bereits 1980 bauten wir aus Schrottmaterial eine Windkraftanlage, – damals die erste im Landkreis Osnabrück – die den Hof mit elektrischer Energie und Wärme versorgte. Ab den 90er Jahren nutzen wir die thermische Solarenergie für die Brauchwassererwärmung. Der Golfkrieg ums Öl war für uns der Anlass, uns ganz vom Heizöl zu verabschieden und nur noch mit umweltfreundlich gewonnenem Abfallholz zu heizen.</p>
            <p>In den letzten Jahren kam die Fotovoltaik dazu. Nun können wir jährlich etwa 10.000 Kilowattstunden Strom von der Somme ernten und ins öffentliche Netz einspeisen. Das reicht für die elektrische Versorgung von etwa 3 Haushalten.</p>
        </div>
    </div>

    {% include 'homepage/footer.html.twig' %}
{% endblock %}