{% extends 'base.html.twig' %}

{% block body %}
    {% include 'homepage/navbar.html.twig' %}

    <div id="header" class="uk-cover-background uk-flex uk-flex-center uk-flex-middle uk-flex-column"
         data-vide-bg="/assets/video/hofpente" data-vide-options="muted: false, loop: false">
        <div class="uk-position-top-right">
            <a href="https://www.demeter.de/" target="_blank" class="uk-margin-right" id="demeter-badge">
                <img src="{{ asset('assets/img/demeter-badge.png') }}" alt="Demeter" width="100"/>
            </a>
        </div>
        <div class="uk-position-bottom-left uk-margin-bottom uk-margin-left">
            <a id="vide-toggle" class="uk-button uk-button-success uk-button-small">
                <i class="uk-icon-pause"></i>
            </a>
            <a id="vide-mute" class="uk-button uk-button-success uk-button-small uk-margin-small-left">
                <i class="uk-icon-volume-up"></i>
            </a>
        </div>
    </div>

    <div class="uk-container uk-container-center uk-margin-large-top">
        <h1 class="uk-text-center uk-margin-bottom-remove">Herzlich Willkommen auf dem CSA-Hof Pente!</h1>
        <h2 class="uk-text-center uk-margin-top-remove uk-text-muted">Wir landwirtschaften biologisch-dynamisch, gemeinschaftsgetragen &amp; solidarisch!</h2>
        <div class="uk-grid uk-margin-large-top" data-uk-grid-margin>
            <div class="uk-width-medium-1-2">
                <div class="responsive-video">
                    <iframe width="100%" src="https://www.youtube.com/embed/5VZj8U4vP3s" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="uk-width-medium-1-2">
                <p>
                    <b>CSA</b> steht für <b>C</b>ommunity <b>S</b>upported <b>A</b>griculture, zu deutsch: Gemeinschaftsgetragene Landbaukultur oder auch Solidarische Landwirtschaft.
                    Für uns und unsere Mitglieder bedeutet das:
                </p>
                <ul>
                    <li>jede Woche frische, gesunde Lebensmittel ohne Gentechnik</li>
                    <li>ökologisch durch kurze Transportwege und kaum Verpackungsmüll</li>
                    <li>bezahlbar durch Selbstkostenpreis ohne Vermarktungsaufwand</li>
                    <li>Unabhängigkeit vom Marktgeschehen</li>
                    <li>Erhalt der Vielfalt und Bodenfruchtbarkeit</li>
                    <li>Erhalt und Schaffung von sinnvollen Arbeitsplätzen</li>
                    <li>Und noch viel, viel mehr!</li>
                </ul>
                <div data-uk-margin>
                    <a href="{{ path('page', {'page': 'csa'}) }}" class="uk-button uk-button-success uk-button-large uk-display-block-medium">
                        Erfahre mehr über CSA!
                    </a>
                    <span class="uk-text-muted uk-visible-large">und</span>
                    <a href="//csa.hofpente.local" class="uk-button uk-button-success uk-button-large uk-display-block-medium">
                        Werde Mitglied!
                    </a>
                </div>
            </div>
        </div>
    </div>

    <hr class="uk-margin-large-top"/>

    <div class="uk-container uk-container-center uk-margin-large-top">
        <h2 class="uk-text-center uk-margin-bottom-remove">Handlungspädagogische Provinz</h2>
        <h3 class="uk-text-center uk-margin-top-remove uk-text-muted">Ein generationsübergreifender LebensLernOrt</h3>
        <div class="uk-grid uk-margin-large-top" data-uk-grid-margin>
            <div class="uk-width-medium-1-2">
                <p>
                    Die Handlungspädagogische Provinz ist ein generationsübergreifender LebensLernOrt, an dem neue soziale,
                    ökologische, ökonomische und pädagogische Ansätze erprobt werden. Grundlage dafür bildet die
                    Bewirtschaftung unseres Gemeinschaftshofes nach den Prinzipien der <a href="">Solidarischen Landwirtschaft</a>.<br>
                    <br>
                    Wir bieten außerdem ein breites Spektrum an Weiterbildungsmöglichkeiten in Form von Kursen, Seminaren, Ausbildungen und
                    Praktika an. Mit unserem <a href="">Kinderbauernhof</a> und dem <a href="">Waldkindergarten</a> schaffen wir praktische Erfahrungs-
                    und Entfaltungsräume für die nächste Generation.
                </p>
                <div data-uk-margin>
                    <a href="//csa.hofpente.local" class="uk-button uk-button-success uk-button-large uk-display-block-medium">
                        Erfahre mehr über Handlungspädagogik!
                    </a>
                    <a href="//csa.hofpente.local" class="uk-button uk-button-success uk-button-large uk-display-block-medium">
                        Schau dir unser Bildungsangebot an!
                    </a>
                </div>
            </div>
            <div class="uk-width-medium-1-2">
                <div class="responsive-video">
                    <iframe width="100%" src="https://www.youtube.com/embed/N4q6RdklEG4" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <hr class="uk-margin-large-top">

    <div class="uk-container uk-container-center uk-margin-large-top">
        <h2 class="uk-text-center">Über den Hof</h2>
        <div data-uk-slider="{autoplay: true}">
            <div class="uk-slider-container">
                <ul class="uk-slider uk-grid uk-grid-small uk-grid-width-medium-1-4">
                    <li>
                        <div class="uk-panel uk-panel-box">
                            <div class="uk-panel-teaser">
                                <img src="{{ asset('assets/img/teasers/arbeitsbereiche.jpg') }}" alt="">
                            </div>
                            <h3 class="uk-panel-title">Arbeitsbereiche</h3>
                            Der Erhalt der Vielfalt ist uns besonders wichtig. Dementsprechend vielfältig sind auch
                            unsere
                            Arbeitsbereiche.
                            <a href="{{ path('page', {'page': 'arbeitsbereiche'}) }}"
                               class="uk-button uk-button-success uk-width-1-1 uk-margin-top">
                                weiter lesen
                                <i class="uk-icon-angle-double-right"></i>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="uk-panel uk-panel-box">
                            <div class="uk-panel-teaser">
                                <img src="{{ asset('assets/img/teasers/geschichte.jpg') }}" alt="">
                            </div>
                            <h3 class="uk-panel-title">Geschichte</h3>
                            Die Geschichte des Hofes geht auf eine lange Generationenreihe zurück. Ein eingemauerter
                            Balken trägt die Jahreszahl 1565.
                            <a href="{{ path('page', {'page': 'geschichte'}) }}"
                               class="uk-button uk-button-success uk-width-1-1 uk-margin-top">
                                weiter lesen
                                <i class="uk-icon-angle-double-right"></i>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="uk-panel uk-panel-box">
                            <div class="uk-panel-teaser">
                                <img src="{{ asset('assets/img/teasers/ackerbau.jpg') }}" alt="">
                            </div>
                            <h3 class="uk-panel-title">Betriebsspiegel</h3>
                            Seit 1988 Bioland-Betrieb, seit 2008 Demeter-Zertifiziert und 56 ha Gesamtfläche - Alle Zahlen auf einen Blick.
                            <a href="{{ path('page', {'page': 'betriebsspiegel'}) }}"
                               class="uk-button uk-button-success uk-width-1-1 uk-margin-top">
                                weiter lesen
                                <i class="uk-icon-angle-double-right"></i>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="uk-panel uk-panel-box">
                            <div class="uk-panel-teaser">
                                <img src="{{ asset('assets/img/teasers/biodynamischie-landwirtschaft.jpg') }}" alt="">
                            </div>
                            <h3 class="uk-panel-title">Biodynamisch &amp; Solidarisch</h3>
                            Die zentrale Idee ist, dass der Hof als ein Organismus betrachtet wird, in den wir nun auch
                            die
                            Verbraucher mit einbeziehen.
                            <a href="" class="uk-button uk-button-success uk-width-1-1 uk-margin-top">
                                weiter lesen
                                <i class="uk-icon-angle-double-right"></i>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="uk-panel uk-panel-box">
                            <div class="uk-panel-teaser">
                                <img src="{{ asset('assets/img/teasers/tiere.jpg') }}" alt="">
                            </div>
                            <h3 class="uk-panel-title">Die Tiere</h3>
                            Wir haben einige Tiere auf unserem Hof und möchten einige Gedanken zu deren Rolle und
                            unserer Sichtweise dazu darstellen.
                            <a href="{{ path('page', {'page': 'tiere'}) }}"
                               class="uk-button uk-button-success uk-width-1-1 uk-margin-top">
                                weiter lesen
                                <i class="uk-icon-angle-double-right"></i>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="uk-panel uk-panel-box">
                            <div class="uk-panel-teaser">
                                <img src="{{ asset('assets/img/teasers/menschen.jpg') }}" alt="">
                            </div>
                            <h3 class="uk-panel-title">Menschen vom Hof</h3>
                            Auf dem Hof leben 20 Menschen. An unserem Gemeinschaftsprojekt sind aber natürlich weitaus
                            mehr Menschen beteiligt.
                            <a href="{{ path('page', {'page': 'menschen-vom-hof'}) }}" class="uk-button uk-button-success uk-width-1-1 uk-margin-top">
                                weiter lesen
                                <i class="uk-icon-angle-double-right"></i>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="uk-text-center uk-margin-top">
                <a href="" class="uk-button uk-button-small uk-button-success" data-uk-slider-item="previous">
                    <i class="uk-icon-angle-left"></i>
                </a>
                <a href="" class="uk-button uk-button-small uk-button-success" data-uk-slider-item="next">
                    <i class="uk-icon-angle-right"></i>
                </a>
            </div>
        </div>
    </div>

    <hr class="uk-margin-large-top">

    <div class="uk-container uk-container-center uk-margin-large-top">
        <h2 class="uk-text-center">Kontakt &amp; Hofführungen</h2>

        <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-1-2 uk-text-center-small uk-text-right uk-text-large">
                <b>CSA Hof Pente GbR</b><br>
                Osnabrücker Str. 73<br>
                49565 Bramsche
            </div>
            <div class="uk-width-medium-1-2 uk-text-center-small uk-text-large">
                Tel.: 05407 8984517<br>
                Fax.: 05407 8984518<br>
                <a href="mailto:buero@hofpente.de">buero@hofpente.de</a>
            </div>
            <div class="uk-width-medium-1-1">
                Wir bieten gerne Hofführungen an und geben unsere Erfahrungen natürlich gerne weiter. Da wir Mitglied im
                <a href="" target="_blank">Netzwerk der Demonstationsbetriebe für Ökologische Landwirtschaft</a> sind,
                können wir Ihnen Führungen anbieten, die für sie kostenneutral sind. Die Führung muss bei uns allerdings
                10 Tage im voraus angemeldet werden.<br>
                <br>
                Sie können uns selbstverständlich auch mit jedem anderen Anliegen kontaktieren. Nutzen Sie einfach das unten
                stehende Kontaktformular oder rufen Sie an.
            </div>
        </div>
    </div>

    <div class="uk-margin-large-top grey section">
        <div class="uk-container uk-container-center">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-2-3">
                    <form action="" method="post" class="uk-form uk-form-stacked">
                        <div class="uk-grid uk-grid-small" data-uk-grid-margin>
                            <div class="uk-width-medium-1-2">
                                <div class="uk-form-row">
                                    <label class="uk-form-label" for="form-firstname">Vorname</label>
                                    <div class="uk-form-controls">
                                        <input type="text" id="form-firstname" placeholder="Vorname" class="uk-form-large uk-width-1-1">
                                    </div>
                                </div>
                            </div>
                            <div class="uk-width-medium-1-2">
                                <div class="uk-form-row">
                                    <label class="uk-form-label" for="form-lastname">Nachname</label>
                                    <div class="uk-form-controls">
                                        <input type="text" id="form-lastname" placeholder="Nachname" class="uk-form-large uk-width-1-1">
                                    </div>
                                </div>
                            </div>
                            <div class="uk-width-medium-1-2">
                                <div class="uk-form-row">
                                    <label class="uk-form-label" for="form-email">E-Mail</label>
                                    <div class="uk-form-controls">
                                        <input type="text" id="form-email" placeholder="E-Mail" class="uk-form-large uk-width-1-1">
                                    </div>
                                </div>
                            </div>
                            <div class="uk-width-medium-1-2">
                                <div class="uk-form-row">
                                    <label class="uk-form-label" for="form-phone">Telefon</label>
                                    <div class="uk-form-controls">
                                        <input type="text" id="form-phone" placeholder="Telefon" class="uk-form-large uk-width-1-1">
                                    </div>
                                </div>
                            </div>
                            <div class="uk-width-medium-1-1">
                                <div class="uk-form-row">
                                    <label class="uk-form-label" for="form-topic">Thema</label>
                                    <div class="uk-form-controls">
                                        <select id="form-topic" class="uk-form-large uk-width-1-1">
                                            <option>Hofführung</option>
                                            <option>Mitgliedschaft</option>
                                            <option>Ausbildung & Praktika</option>
                                            <option>Presse</option>
                                            <option>Sonstiges</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="uk-width-medium-1-1">
                                <div class="uk-form-row">
                                    <label class="uk-form-label" for="form-message">Nachricht</label>
                                    <div class="uk-form-controls">
                                        <textarea id="form-message" rows="5" placeholder="Nachricht" class="uk-form-large uk-width-1-1"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="uk-width-medium-1-1 uk-text-center">
                                <button class="uk-button uk-button-large uk-button-success">
                                    Nachricht senden
                                    <i class="uk-icon-send"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="uk-width-medium-1-3">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d131096.73374923566!2d7.884366025030807!3d52.37122221495227!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47b9e11447a4c789%3A0x2ea9ece22abd4540!2sCSA+Hof+Pente+-+Solidarische+Landwirtschaft+-+Handlungsp%C3%A4dagogische+Provinz!5e0!3m2!1sde!2sde!4v1491624957441"
                            width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <div id="partner" class="uk-container uk-container-center uk-margin-large-top">
        <div class="uk-slidenav-position" data-uk-slider>
            <div class="uk-slider-container">
                <ul class="uk-slider uk-grid uk-grid-width-large-1-6 uk-grid-width-medium-1-5">
                    <li>
                        <a href="">
                            <img src="{{ asset('assets/img/partner/abl.jpg') }}" class="uk-width-1-1"/>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="{{ asset('assets/img/partner/akademie-potential.png') }}" class="uk-width-1-1"/>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="{{ asset('assets/img/partner/baglob.png') }}" class="uk-width-1-1"/>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="{{ asset('assets/img/partner/demeter.png') }}" class="uk-width-1-1"/>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="{{ asset('assets/img/partner/demonstrationsbetriebe-oekolandbau.jpg') }}" class="uk-width-1-1"/>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="{{ asset('assets/img/partner/lv.jpg') }}" class="uk-width-1-1"/>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="{{ asset('assets/img/partner/monsanto-tribunal.png') }}" class="uk-width-1-1"/>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="{{ asset('assets/img/partner/nascent.jpg') }}" class="uk-width-1-1"/>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="{{ asset('assets/img/partner/solawi.jpg') }}" class="uk-width-1-1"/>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="{{ asset('assets/img/partner/ag-hp.jpg') }}" class="uk-width-1-1"/>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="uk-text-center uk-margin-top">
                <a href="" class="uk-button uk-button-small uk-button-success" data-uk-slider-item="previous">
                    <i class="uk-icon-angle-left"></i>
                </a>
                <a href="" class="uk-button uk-button-small uk-button-success" data-uk-slider-item="next">
                    <i class="uk-icon-angle-right"></i>
                </a>
            </div>
        </div>
    </div>

    {% include 'homepage/footer.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    'assets/vendor/vide/dist/jquery.vide.min.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        $(function () {
            $('#vide-toggle').click(function () {
                var video = $('#header').data('vide').getVideoObject();
                if (video.paused) {
                    video.play();
                    $(this).html('<i class="uk-icon-pause"></i>');
                } else {
                    video.pause();
                    $(this).html('<i class="uk-icon-play"></i>');
                }
            });

            $('#vide-mute').click(function () {
                var video = $('#header').data('vide').getVideoObject();
                if (video.volume == 1) {
                    video.volume = 0;
                    $(this).html('<i class="uk-icon-volume-off"></i>');
                } else {
                    video.volume = 1;
                    $(this).html('<i class="uk-icon-volume-up"></i>');
                }
            });
        });
    </script>
{% endblock %}
