{% extends 'base.html.twig' %}

{% block body %}
    {% include 'homepage/navbar.html.twig' %}

    <div id="header" class="uk-cover-background small" style="background-image: url('/assets/img/headers/tiere.jpg');"></div>

    <ul class="uk-breadcrumb uk-text-center uk-text-muted" data-uk-sticky="{top:50}">
        <li><a href="{{ path('homepage') }}"><i class="uk-icon-home"></i></a></li>
        <li class="uk-active"><span>Die Tiere</span></li>
    </ul>

    {% include 'homepage/subnav.html.twig' %}

    <div class="uk-container uk-container-center uk-margin-large-top">
        <h1 class="uk-text-center">Die Tiere</h1>

        <h2 class="uk-margin-large-top">Warum Tierhaltung auf dem CSA-Hof?</h2>
        <div class="uk-clearfix uk-column-medium-1-2 uk-column-large-1-3">
            <p>Wir haben einige Tiere auf unserem Hof und möchten einige Gedanken zu deren Rolle und unserer Sichtweise dazu darstellen.</p>
            <p>Wir betrachten den Hof als einen Organismus, der sich an der Idee eines möglichst geschlossenen Kreislaufs orientiert. Selbst wenn es derzeit nicht zu 100 % möglich, eine geschlossene Kreislauf-Wirtschaft herzustellen, stellt es für uns ein anzustrebendes Ideal dar. In diesem Hof-Organismus hat jedes Teil seinen Platz.</p>
            <h3>Auf das richtige Maß kommt es an</h3>
            <p>Ein gewisses Maß an Tieren ist fruchtbar für den Hoforganismus. Für eine Zertifizierung bei DEMETER wird z.B. eine bestimmte Menge (Großvieh-Einheiten pro Hektar) an Wiederkäuern vorausgesetzt, den Ihr Dung ist äußerst fruchtbar für den Boden. Zuviel wird ungesund für den Boden und das Gleichgewicht. Dann wird Dünger zu Gift für den Boden.</p>
            <p>Auf unserem Hof entstehen viele Lebensmittel, die jedoch nicht alle vom Menschen verzehrt werden können. Zum Beispiel reinigen wir unser Getreide, bevor es zum Bäcker geht. Die kleinen und zerbrochenen Körner sowie das Beikraut werden nicht verbacken, sondern dienen den Tieren als Futter. Auch aussortiertes Gemüse wird an die Tiere verfüttert.</p>
            <p>Darüber hinaus ist es für die Bodenfruchtbarkeit wichtig, dass wir in den aufeinanderfolgenden Vegetationsperioden unterschiedliche Pflanzen auf den Äckern anbauen (Fruchtfolge). Insbesondere Kleegras ist sehr gut für die Bodenfruchtbarkeit. Wir nutzen das Kleegras als Futter für Kühe, Schweine und Schafe. Der Boden des Getreideackers erholt sich durch das Kleegras, das zugleich durch die an den Wurzeln haftenden Knöllchenbakterien Stickstoff in die Böden bringt.</p>
            <p>Die Hühner werden mit dem Hühnermobil auf den Kleegrasflächen gehalten und umgesetzt, so dass sie immer wieder frisches Kleegras als Futter bekommen. Die Gefahr von Parasitenbefall ist dadurch reduziert und die Hühner düngen zugleich die Fläche, auf der sie gehalten werden.</p>
            <p>Doch Tiere fressen nicht nur, sie geben auch kostbaren Mist von sich, der zur Düngung der Pflanzen auf dem Acker dient. Der Mist fördert die Bodenfruchtbar. Erst wenn Tausende von Tieren in industriellen Massenställen Unmengen an Gülle produzieren, ohne dass genügend Fläche zur Verfügung steht, wird die Entsorgung zum Problem, der Boden überdüngt, das Wasser nitrat-belastet, die Bäche verseucht.</p>
            <h3>Tiere essen?</h3>
            <p>Es gibt immer wieder Menschen, die es fragwürdig finden, dass wir im Rahmen des CSA-Konzepts unsere Tiere auch töten. Wir halten viel von vegetarischer Ernährung, aber es gibt immer noch Menschen (auch hier auf dem Hof), die gerne ab und zu gutes Fleisch essen. Hier sollte jeder seinen eigenen Umgang finden, aber auch Respekt und Interesse für den anderen bewahren.</p>
            <p>Uns ist wichtig, dass wir einen respektvollen Umgang mit den Tieren pflegen und ihnen mit Wertschätzung begegnen.</p>
            <p>Dadurch, dass die Tiere bei uns einen sinnvollen Platz im Hoforganismus haben, können wir auf dem Hof auch einen Begegnungsraum für Mensch und Tier schaffen. Auch das ist uns wichtig, denn gerade Kindern gibt der Umgang mit Tieren eine Möglichkeit, einen bewussten Bezug zur Mitwelt zu entwickeln.</p>
        </div>

        <div class="uk-grid uk-grid-small uk-margin-large-top" data-uk-grid-margin>
            <div class="uk-width-large-1-6 uk-width-medium-1-3 uk-width-small-1-2 uk-text-center">
                <a class="uk-thumbnail" href="#tiere-huehner" data-uk-modal>
                    <img src="{{ asset('assets/img/tiere/huehner.png') }}" alt="">
                    <div class="uk-thumbnail-caption">Hühner</div>
                </a>
            </div>
            <div class="uk-width-large-1-6 uk-width-medium-1-3 uk-width-small-1-2 uk-text-center">
                <a class="uk-thumbnail" href="#tiere-schweine" data-uk-modal>
                    <img src="{{ asset('assets/img/tiere/schweine.png') }}" alt="">
                    <div class="uk-thumbnail-caption">Schweine</div>
                </a>
            </div>
            <div class="uk-width-large-1-6 uk-width-medium-1-3 uk-width-small-1-2 uk-text-center">
                <a class="uk-thumbnail" href="#tiere-schafe" data-uk-modal>
                    <img src="{{ asset('assets/img/tiere/schafe.png') }}" alt="">
                    <div class="uk-thumbnail-caption">Schafe</div>
                </a>
            </div>
            <div class="uk-width-large-1-6 uk-width-medium-1-3 uk-width-small-1-2 uk-text-center">
                <a class="uk-thumbnail" href="#tiere-rinder" data-uk-modal>
                    <img src="{{ asset('assets/img/tiere/rinder.png') }}" alt="">
                    <div class="uk-thumbnail-caption">Rinder</div>
                </a>
            </div>
            <div class="uk-width-large-1-6 uk-width-medium-1-3 uk-width-small-1-2 uk-text-center">
                <a class="uk-thumbnail" href="#tiere-bienen" data-uk-modal>
                    <img src="{{ asset('assets/img/tiere/bienen.png') }}" alt="">
                    <div class="uk-thumbnail-caption">Bienen</div>
                </a>
            </div>
            <div class="uk-width-large-1-6 uk-width-medium-1-3 uk-width-small-1-2 uk-text-center">
                <a class="uk-thumbnail" href="#tiere-pferde" data-uk-modal>
                    <img src="{{ asset('assets/img/tiere/pferde.png') }}" alt="">
                    <div class="uk-thumbnail-caption">Pferde</div>
                </a>
            </div>
        </div>
    </div>

    <div id="tiere-huehner" class="uk-modal">
        <div class="uk-modal-dialog">
            <a class="uk-modal-close uk-close"></a>
            <div class="uk-modal-header">
                <h3>Hühner - Lohmann Hybriden</h3>
            </div>
            <img src="{{ asset('assets/img/tiere/huehner.png') }}" alt="" class="uk-align-medium-left"/>
            <p>Wir haben 225 Hühner in einem mobilen Hühnerstall der Firma Weilands (www.huehnermobil.de) und sind damit sehr zufrieden. Darüber hinaus haben wir noch ein kleineres eigenes gebaut.</p>
            <p><b>Die beste Qualität durch mobile Stallhaltung!</b></p>
            <p>Durch die innovative Mobile Haltung im Hühnermobil (siehe unten) kann der Stall jede Woche versetzt werden. Dadurch können die Hühner immer auch frisches Kleegras futtern und verteilen gleichzeitig den Dung auf der Ackerfläche. Nach dem Umsetzen erholt sich die Grasnarbe schnell wieder. Für die Gesundheit, die Hygiene  und natürlich für die Ei-Qualität ist das natürlich super. Die Beste Haltungsform für Hühner die wir kennen!</p>
            <h3>Futter</h3>
            <p>Unsere Hühner werden neben dem frischen Kleegras auch mit unserem Ausputzgetreide gefüttert. Bevor wir unser Getreide zum Bäcker liefern, wird es gereinigt, dabei werden Beikrautsamen und alle kleinen Getreidesamen so wie auch zerbrochene Körner herausgereinigt. All dies nennt man dann Ausputzgetreide. Einen Teil Getreide und Mais bauen wir aber auch extra für die Hühner an. Darüber hinaus kaufen wir derzeit auch Fütter aus Melle hinzu. Wir haben zwar eine eigene Futter Mischanlage besorgt, die ist jedoch noch nicht aufgebaut.</p>
        </div>
    </div>

    <div id="tiere-schweine" class="uk-modal">
        <div class="uk-modal-dialog">
            <a class="uk-modal-close uk-close"></a>
            <div class="uk-modal-header">
                <h3>Schweine - Bunte Bentheimer</h3>
            </div>
            <img src="{{ asset('assets/img/tiere/schweine.png') }}" alt="" class="uk-align-medium-left"/>
            <p>Auf Hof Pente leben ca. 20 – 40 Bunte Bentheimer Schweine.</p>
            <p>In der zweiten Hälfte des 20. Jahrhunderts nahm in Deutschland die enorme Vielfalt der regional verankerten und den jeweiligen Verhältnissen bestens angepassten Haustierrassen ab. Zugunsten weniger Hochleistungsrassen ging die genetische Vielfalt in besorgniserregendem Maße verloren.</p>
            <p>Viele alte Haustierrassen verschwanden von der Bildfläche oder gerieten an den Rand des Aussterbens. Eine davon war das Bunte Bentheimer Schwein, es stammt aus der Region und war lange Zeit ein beliebter Lieferant hochwertiger Fleisch- und Wurstprodukte, geriet es Ende der 50er Jahre des letzten Jahrhunderts in die Mühle des sich ändernden Verbraucherverhaltens und –geschmacks. Fettarmes Fleisch war nun angesagt – das konnten die Bunten Bentheimer nicht liefern und so wurde die Zucht Stück für Stück aufgegeben – bis nur noch wenige Tiere vorhanden waren (die meisten davon über lange Jahre in den Händen eines einzigen Züchters!). – Schließlich nahmen Ende der neunziger Jahre engagierte Züchter das Heft in die Hand und begannen, sich um die koordinierte Zucht und damit um das Überleben dieser einzigartigen Schweinerasse zu kümmern.</p>
            <p>Die Bentheimer sind optimal an die Bedingungen der Freilandhaltung angepasst. Durch die viele Bewegung wird das Fett intramuskulär eingelagert. Dies marmoriertes Fleisch wirkt als Geschmacksträger, denn Aromastoffe sind fettlöslich. Daher ist das Fleisch dieser alten Rassen besonders lecker. Außerdem umhüllt intramuskuläres Fett das Muskelgewebe und verringert den Koch- bzw. Bratverlust und die Saftigkeit des Fleisches bleibt erhalten.</p>
            <p>Die aktuellen Haltungsbedingungen in der herkömmlichen Massentierhaltung bieten einen optimalen Nährboden für die Entwicklung von antibiotikaresistenten Superbakterien. Dabei entwickelt sich die vermeintlich „moderne“ Landwirtschaft vom Ernährer der Gesellschaft zur Bedrohung der allgemeinen Gesundheit.</p>
            <p><b>98% der Schweine in Deutschland sind mittlerweile nur noch Kreuzungen aus Deutscher Landrasse, Pietrainschwein & Deutschem Edelschwein.</b></p>
            <h3>Futter</h3>
            <p>Unsere Schweine werden mit unserem Ausputzgetreide und mit Gemüseresten gefüttert. Bevor wir unser Getreide zum Bäcker liefern, wird es gereinigt, dabei werden Beikrautsamen und alle kleinen Getreidesamen, so wie auch zerbrochene Körner herausgereinigt.  All dies nennt man dann Ausputzgetreide. Dies wird gemahlen und den Schweinen gefüttert. Damit verwerten die Schweine auf sinnvolle Weise das, was im Betrieb anfällt. Etwas Getreide wird allerding auch für die Schweinefütterung direkt angebaut. Dazu bekommen sie noch etwas Silage (aus Kleegrass von unserem Acker). Auch aussortiertes Gemüse fällt an, was ihnen besonders schmeckt. Darüber hinaus bauen wir auch noch etwas Getreide nur für die Schweine an.</p>
        </div>
    </div>

    <div id="tiere-schafe" class="uk-modal">
        <div class="uk-modal-dialog">
            <a class="uk-modal-close uk-close"></a>
            <div class="uk-modal-header">
                <h3>Schafe - Coburger Füchse</h3>
            </div>
            <img src="{{ asset('assets/img/tiere/schafe.png') }}" alt="" class="uk-align-medium-left"/>
            <p>Die Coburger Fuchsschafe sind eine alte Landschafrasse, die im 19. Jahrhundert weite Teile der europäischen Mittelgebirge besiedelte. Die fuchsfarbigen Schafe waren unter vielen Namen bekannt, so finden wir Goldfüchse, Eisfelder Fuchsschafe, Eifeler Schafe, Ardenais, Solognotes, Rousse Tetes, Welsh Mountain Sheep.</p>
            <p>Neben der besonders für die Hobbyverarbeitung interessanten Wolle ist das Fleisch der freilaufenden Lämmer und der älteren Schafe bei Feinschmeckern sehr geschätzt.</p>
            <p>Aufgrund der geringen Bestandsgröße wird die Haltung von Coburger Fuchsschafen in einigen Bundesländern finanziell unterstützt. Einige Zoos haben sich gleichfalls der Erhaltungszucht dieser alten Rasse angenommen.</p>
            <p>Der Leitbock unserer kleinen Herde hat sich nicht nur bei Kindern schnell Respekt verschafft. Seine Nasenstüber können auch Erwachsene durchaus aus dem Gleichgewicht bringen. Da heißt es, beim Umtreiben konsequent auftreten und schnell klären, wer das Sagen hat.</p>
            <p>Schafe gelten als gutmütig und sind ein Sinnbild für Geduld. In der Bibel werden Schafe häufig erwähnt und als positive Identifikationsfiguren zu Gleichnissen herangezogen.</p>
            <p>Das Lamm ist wahrscheinlich die älteste symbolische Darstellung des Christus und neben der Taube das am häufigsten vorkommende Tier in der christlichen Ikonografie.</p>
            <h3>Futter</h3>
            <p>Unsere Schafe fressen Kleegras, für die Fruchtbarkeit unserer Acker ist es wichtig, nicht immer die gleichen Pflanzen anzubauen, sonder auch eine Fruchtfolge zu haben. Kleegras in der Fruchtfolge ist sehr gut für die Fruchtbarkeit des Bodens. Wiederkäuer wie (Schafe sind auch Wiederkäuer) wirken sich daher fruchtbar auf den gesamten Hof aus.</p>
        </div>
    </div>

    <div id="tiere-rinder" class="uk-modal">
        <div class="uk-modal-dialog">
            <a class="uk-modal-close uk-close"></a>
            <div class="uk-modal-header">
                <h3>Rinder - Limousin</h3>
            </div>
            <img src="{{ asset('assets/img/tiere/rinder.png') }}" alt="" class="uk-align-medium-left"/>
            <p>Auf Hof Pente werden Limousin Rinder gehalten. Limousin geben nicht so viel Milch und werden daher nur von ihren Kälbern gemolken.</p>
            <p>Zu den besonderen Vorzügen der Rasse zählen die leichten Geburten, eine gute bis sehr gute Zunahme bei hervorragender Futterverwertung und die gute Fleischqualität. Die Rasse ist auch durch ihre Langlebigkeit und Anpassungsfähigkeit bekannt. Das erste Kälbchen erblickte im Dezember 2009 bei minus 18°C im Offenstall das winterliche Licht der Welt. Gut von der Mutter trocken geleckt und mit einer zusätzlichen Portion Stroh eingepackt, konnten ihm auch die extremen Temperaturen nichts anhaben.</p>
            <h3>Futter</h3>
            <p>Unsere Rinder fressen Kleegras, für die Fruchtbarkeit unserer Acker ist es wichtig, nicht immer die gleichen Pflanzen anzubauen, sonder auch eine Fruchtfolge zu haben. Kleegras in der Fruchtfolge ist sehr gut für die Fruchtbarkeit des Bodens. Wiederkäuer wie diese Rinder wirken sich daher fruchtbar auf den gesamten Hof aus.</p>
        </div>
    </div>

    <div id="tiere-bienen" class="uk-modal">
        <div class="uk-modal-dialog">
            <a class="uk-modal-close uk-close"></a>
            <div class="uk-modal-header">
                <h3>Bienen</h3>
            </div>
            <img src="{{ asset('assets/img/tiere/bienen.png') }}" alt="" class="uk-align-medium-left"/>
            <p>Der Bien ist ein Begriff für den Super-Organismus des Bienenvolkes, der sich nicht auf die einzelne Biene, sondern auf ihre soziale Interaktion als Gemeinschaft bezieht. Diese Gemeinschaft hat Fähigkeiten entwickelt, die die einzelne Biene nicht beherrscht. Ein Beispiel: Obwohl sie als Insekten Kaltblüter sind, können sie in der Gruppe die Temperatur dauerhaft halten wie ein warmblütiges Tier. Für sie hat sich der Begriff „Der Bien“ etabliert. Da der Bien als Superorganismus die Beziehung der einzelnen Bienen untereinander darstellt, ist der Bien zuweilen ein enorm großer Organismus, der sich kilometerweit über die Landschaft ausbreitet.</p>
            <p>Die sensible Biene spiegelt die kritische Entwicklung der Natur im ländlichen Raum wider. Die Verschlechterung der Umweltsituation durch Agrargifte und Gentechnik, wie etwa in monokulturellen Agrarindustriegebieten, führen bereits jetzt zu massenhaftem Bienensterben.</p>
            <p>Aufgrund ihrer Bestäubungsleistung ist die Biene in Deutschland gesamtwirtschaftlich gesehen das dritt wichtigste Nutztier. Vor diesem Hintergrund wird auch das Zitat von Albert Einstein deutlich:</p>
            <i>„Wenn die Biene einmal von der Erde verschwindet, hat der Mensch nur noch vier Jahre zu leben. Keine Bienen mehr, keine Bestäubung mehr, keine Pflanzen mehr, keine Tiere mehr, kein Mensch mehr.“</i>
            <p>Durch den zunehmenden Verlust der genetischen Vielfalt in der Landschaft finden die Bienen kaum noch genügend Futter. Sie müssen sich ja über das gesamte Jahr ernähren und da hilft nur die Vielfalt von blühenden Pflanzen, die im Jahreslauf Futter bietet.</p>
            <h3>In der Antike</h3>
            <p>Ägypten wird heute als Wiege der Bienenzucht betrachtet, da hier die Bienenhaltung bis 2400 Jahre v. Chr. schriftlich belegt ist. Zahleiche Inschriften und Malereien auf Säulen, Gräbern, Vasen und Tempelwänden zeugen von der Präsenz und großen Bedeutung der Bienen und der Verehrung, die man den Bienen entgegenbrachte. Sie galten als göttliche Wesen und wurden deshalb auch als Symbol für den Pharaotitel verwendet.</p>
            <p>Später wurden die Bienen in Griechenland und Kreta als göttliche Sendboten und Mittler zwischen Himmel und Erde verehrt. Die Pythina (Priesterin im Tempel von Delphi) wurde die  „Delphische Biene“ genannt. Die Priester und Priesterinnen des Eleusius-Kultes und der Artemis-Kultes in Ephesos nannten sich „Bienen“ (melissae) – auch war die Biene das Attribut der Göttin Demeter. Der Oberpriester trug den Titel Bienenweiser. Wohl deshalb wurden die Priesterinnen so genannt, weil sie wie die Bienen Dienerinnen und Gesandte der Götter waren und ihre Weissagungen so rein und wahr und unverfälscht wie Honig. Auch später in der christlichen Zeit wurde die Biene zum Zeichen für Fleiß, Ordnungsliebe, Reinheit und Keuschheit der Jungfrauen – doch auch Klugheit und die göttliche Ordnung der Welt wurden mit dem Bienensymbol in Verbindung gebracht.</p>
            <h3>Beuys: der Bien – Sinnbild eines zukünftigen Sozialen Organismus</h3>
            <p>Der berühmte deutsche Aktionskünstler und Kunstprofessor Joseph Beuys machte die Biene bereits in den fünfziger Jahren zu seinem künstlerischen Thema. Seine Beziehung zu den Bienen wurde stark von Rudolf Steiners Vorträgen über die Bienen inspiriert.</p>
            <p>Beuys Werk über den utopischen Sozialismus stellt den „Wärmecharakter“ des „Bienenorganismus“ in den Mittelpunkt seiner Überlegungen. Beuys ging es um die soziale Wärme, die er im Zusammenleben der Bienen symbolisiert und perfektioniert sieht. Er vergleicht den Bienenstock mit der Weiterentwicklung der sozialen Impulse des menschlichen Zusammenlebens und spricht von der Gestaltung eines Sozialen Organismus, die bei den Bienen eine solche Perfektion erreicht, dass nicht mehr von der einzelnen Biene, sondern von dem Bien, als Überorganismus die Rede ist.</p>
            <p>Für Beuys verbindet sich die soziale Wärme auch mit dem Begriff der Brüderlichkeit und des gegenseitigen Zusammenarbeitens. Im Bienenstock geschieht genau das, die absolute Bereitschaft, sich zurückzustellen und für andere etwas zu tun.</p>
        </div>
    </div>

    <div id="tiere-pferde" class="uk-modal">
        <div class="uk-modal-dialog uk-clearfix">
            <a class="uk-modal-close uk-close"></a>
            <div class="uk-modal-header">
                <h3>Pferde - Friesen</h3>
            </div>
            <img src="{{ asset('assets/img/tiere/pferde.png') }}" alt="" class="uk-align-medium-left"/>
            <p>Seit 2016 sind endlich wieder Pferde auf dem Hof. Die Friesenstute Belle und der Friesenwallach Diego begleiten den Hof auch bei den ersten Schritten in Richtung Pferdearbeit im Garbenbau.</p>
        </div>
    </div>

    {% include 'homepage/footer.html.twig' %}
{% endblock %}